@font-face {
  font-family: Aller_Bd;
  src: url(./assets/fonts/Aller_Bd.ttf) format("truetype");
}

@font-face {
  font-family: Aller_Rg;
  src: url(./assets/fonts/Aller_Rg.ttf) format("truetype");
}

@font-face {
  font-family: Aller_Std;
  src: url(./assets/fonts/Aller_Std_Lt.ttf) format("truetype");
}

body {
  background-color: #f3f2f5;
  text-align: center;
}
.App {
  text-align: center;
}

.temp {
  /* margin-top: 10%; */
  bottom: 0 !important;
  margin-top: 20%;
}

.temp h1 {
  font-family: Aller_Bd;
  font-size: 30px;
}

.bttm {
  text-align: center !important;
  width: 100%;
  position: absolute;
  bottom: 2px;
  /* background-color: aquamarine; */
}

.bttm p {
  font-family: Aller_Std;
}
